<link rel="stylesheet" href="/css/styles.css">

<main>
    <section class="carrito">
        
        <% if (productos.length != 0) { %>
            
            <h1>Tu Carrito</h1>

            <% productos.forEach(producto => { %>
                <article class= "carrito-item">
                    <div class="carrito-item-info">
                        <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                        <h2><%= producto.nombre %></h2>
                    </div>
                    <div class="carrito-item-acciones">
                        <div class="modificador-cantidad">
                            <a href ="/carrito/sumar/<%= producto.id %>">+</a>
                            <span class="cantidad"><%= producto.cantidad %></span>
                            <a href ="/carrito/restar/<%= producto.id %>">-</a>
                        </div>
                        <div class="precio-y-quitar">
                            <span class="precio"><%= producto.precio * producto.cantidad %> puntos</span>
                            <a class="boton-eliminar" href="/carrito/eliminar/<%= producto.id %>">🗑️</a>
                        </div>
                    </div>

                </article>
            <% }); %>

            <div class="total">
                <h2>Total: <%= total %> puntos</h2>
            </div>

            <div class="vaciar">
                <a class="boton-vaciar" href="/carrito/vaciar">Vaciar Carrito</a>
            </div>


            <% } else { %>
                <p id="carrito-vacio" >Tu carrito está vacío.</p>
            <% } %>
        
    </section>
</main>
</body>


<style>

.carrito h1 {
    text-align: center;
    margin-bottom: 30px;
}



.carrito-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.carrito-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carrito-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.carrito-item-acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }


.modificador-cantidad {
    border: black solid 1px;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.modificador-cantidad a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
}

.precio-y-quitar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.boton-eliminar {
    margin-left: 20px;
    color: black;
    text-shadow: #fff 0px 0px 1px;


}


</style>
