<main class="home-main">

    <% if (!locals.esBusqueda) { %>
        <section id="hero">
            <div class="contenedor-hero">
                <h2>Ofertas de temporada</h2>
                <button>Ver más</button>
            </div>
        </section>

        <%- include('../partials/categorias') %> <br>
        <% } %>
        
        <% if (locals.esCategoria) { %>
            <section class="products-section">
                <h2><%= categoriaActual %></h2>

                <div class="products-grid">
                    <% productos.forEach(producto => { %>
                        <%- include('../partials/productCard', {producto}) %>
                    <% }) %>
                </div>
            </section>
        <% } %>

        <section class="products-section">
            <h2><%= locals.esBusqueda ? 'Resultados de tu búsqueda' : 'Te puede interesar' %></h2>

            <% if (locals.mensaje) { %>
                <div class="no-results">
                    <p><%= mensaje %></p>
                </div>
            <% } %>
            <div class="slider-container">
                <% sugeridos.forEach(producto => { %>
                    <%- include('../partials/productCard', {producto}) %>
                <% }) %>
            </div>
        </section>
    
    <% if (!locals.esBusqueda && !locals.esCategoria) { %>
        <section class="products-section highlighted">
            <h2>Los productos más pedidos</h2>
            <div class="slider-container">
                <% destacados.forEach(producto => { %>
                    <%- include('../partials/productCard', {producto}) %>
                <% }) %>
            </div>
        </section>

        <section class="products-section">
            <h2>Todos los productos</h2>
            <div class="products-grid">
                <% todos.forEach(producto => { %>
                    <%- include('../partials/productCard', {producto}) %>
                <% }) %>
            </div>
        </section>

        <%- include('../partials/categorias') %>
    <% } %>
</main>

<style>
    .slider-container {
        display: flex;
        gap: 20px;
        padding: 15px 5%;

        overflow-x: auto;
        scroll-snap-type: x mandatory; /* Para que los productos se ajusten al hacer scroll */
        scroll-behavior: smooth;
    
        scrollbar-width: none; /* para firefox */
        -ms-overflow-style: none;  /* para IE y Edge */
    }

    .slider-item {
        flex: 0 0 auto;
        width: 300px;
        object-fit: cover;
        scroll-snap-align: start;
    }
</style>